/* Setup Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind classes */
@layer components {
	.tab {
		@apply transition flex text-center items-center flex-1 max-w-md p-1 overflow-hidden text-sm text-gray-600 rounded-t-xl cursor-pointer whitespace-nowrap;
	}
	.active-tab {
		@apply transition flex items-center flex-1 max-w-md p-1 overflow-hidden text-sm text-gray-600 dark:text-white bg-gray-100 dark:bg-gray-700 rounded-t-xl cursor-default whitespace-nowrap;
	}
  .tab-star {
    @apply ml-auto;
  	}
	.btn {
		@apply dark:text-white hover:bg-gray-400 text-black rounded-lg ml-2 dark:hover:bg-gray-600 text-center p-1.5 bg-transparent transition
	}
	.btn img {
		@apply dark:invert;
	}
  	.bg {
		@apply bg-cover bg-no-repeat;
	}
	.view {
		@apply min-w-[100vw] min-h-[100vh];
	}
	.suggestion {
		@apply w-screen border-solid p-2 border-blue-500 dark:text-white;
	}
	.suggestions-box {
		@apply absolute rounded-b-lg bg-red-200 dark:bg-gray-800 border-blue-500 shadow;
	}
	*:focus {
		@apply outline-emerald-600;
	}
	.sliding-rtl {
		animation-name: sliding-rtl;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	.sliding-ttb {
		animation-name: sliding-ttb;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	.moreMenuItem:hover {
		@apply bg-blue-300 text-black rounded-sm dark:hover:bg-gray-600 hover:bg-gray-200 dark:hover:text-white;
	}
	@keyframes sliding-ttb {
		0% {
			transform: translateY(-100%);
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		}

		100% {
			transform: translateY(0%);
			clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
		}
	}
  .bookmark {
    @apply transition flex items-center flex-1 max-w-sm p-1 m-0.5 min-w-[12px] overflow-hidden bg-gray-200 dark:bg-gray-900 text-sm rounded cursor-pointer text-gray-600 dark:text-gray-100 whitespace-nowrap;
  }
  @keyframes sliding-rtl {
	0% {
		transform: translateX(100%);
		clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
	}
}
}

/* Custom Styles (they can stay to ensure compatibility with sites as webviews technically use iframes) */
webview {
	background-color: #ffffff;
}