* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary: #818cf8;
    --secondary: #6366f1;
    --tertiary: #4f46e5;
    --foreground: white;
}

html {
    scroll-behavior: smooth;
}

body {
    object-fit: contain;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--foreground);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab {
    transition: all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 32rem;
    padding: 0.25rem 0.5rem;
    overflow: hidden;
    font-size: 0.875rem;
    color: white;
    background-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    white-space: nowrap;
}

.active-tab {
    background-color: var(--tertiary);
}

.tab:hover {
    background-color: var(--secondary);
}

button,
select {
    color: var(--foreground);
    background-color: var(--secondary);;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.25rem;
    transition: all;
    cursor: pointer;
}

button:hover,
select:hover {
    background-color: #3730A3;
}

button img {
    filter: invert(100%);
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.view {
    min-width: 100vw;
    min-height: 100vh;
}

.suggestion {
    width: 100vw;
    padding: 0.5rem;
    border: 1px solid #60A5FA;
    color: white;
}

.suggestions-box {
    position: absolute;
    background-color: #FECACA;
    background-color: #1E293B;
    border-color: #60A5FA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 0.5rem 0.5rem;
}

*:focus {
    outline: 2px solid #34D399;
}

.moreMenuItem:hover {
    color: var(--foreground);
    background-color: #4F46E5;
}

.moreMenuItem {
    padding: 0.5rem;
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
}

.moreMenuItem span {
    margin-left: 4px;
}

.bookmark {
    transition: all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 32rem;
    padding: 1.5rem;
    margin: 0.125rem;
    min-width: 95px;
    height: 95px;
    overflow: hidden;
    background-color: #C7D2FE;
    font-size: 2xl;
    color: var(--tertiary);;
    border-radius: 9999px;
    cursor: pointer;
}

.bookmark:hover {
    background-color: var(--secondary);;
}

.bookmark {
    background-color: #1E293B;
}

.bookmark.dark:hover {
    background-color: #3730A3;
}

.bookmark img {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 32pt;
    height: 32pt;
    background-color: var(--tertiary);;
    border-radius: 0.5rem;
}

@keyframes sliding-ttb {
    0% {
        transform: translateY(-100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }

    100% {
        transform: translateY(0%);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    }
}

@keyframes sliding-rtl {
    0% {
        transform: translateX(100%);
        clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

ul {
    list-style-type: none;
}

#loading {
    display: flex;
    position: fixed;
    z-index: 40;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #EEF2FF;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 500ms;
}

#loading img {
    aspect-ratio: 1 / 1;
    height: 50%;
    animation: spin 1s linear infinite;
}

#utility {
    display: flex;
    padding-bottom: 0.25rem;
    width: 100%;
    background-color: var(--primary);;
}

#userchrome button {
    margin-left: 3pt;
}

#userchrome #searchbar {
    margin-left: 2pt;
    margin-right: 4pt;
}

#tb-wrapper {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    margin-top: 0;
    align-items: center;
    background-color: var(--primary);;
}

#tabs-bar {
    display: flex;
    overflow: auto;
    margin-left: 0.25rem;
    flex: 1 1 0%;
    align-items: center;
}

.tabs-btns {
    display: inline-flex;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#searchbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1.5rem;
    outline-width: 0px;
    min-width: fit-content;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: #E0E7FF;
    width: 95%;
}

#more-menu {
    float: right;
    position: absolute;
    right: 0;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 1.5rem;
    width: fit-content;
    height: fit-content;
    color: #312E81;
    background-color: var(--primary);;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#bookmarks {
    display: flex;
    display: grid display: none;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 100vh;
    background-color: var(--primary);;
    backdrop-blur: blur(40px);
}

#preferences-box {
    overflow: auto;
    padding: 0.375rem;
    width: 100vw;
    height: 100vh;
    color: #312E81;
    background-color: var(--primary);;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#preferences-box * {
    margin: 4pt;
}

#experiments b {
    color: lime;
}

#suggestions {
    background-color: var(--primary);;
}

#welcomepage {
    display: none;
    padding: 0.375rem;
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
    width: 100%;
    height: fit-content;
    background-color: var(--primary);;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 40px;
    height: 15px;
    position: relative;
    border-radius: 50px;
    box-sizing: content-box;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    background: var(--foreground);
  }
  
  input[type="checkbox"]::after {
    top: 0;
    left: 0;
    transition: left 150ms ease-in-out;
    content: ' ';
    width: 15px;
    height: 15px;
    background: var(--secondary);
    position: absolute;
    border-radius: 50px;
  }
  
  input[type="checkbox"]:checked {
    background: var(--tertiary);
  }
  
  input[type="checkbox"]:checked::after {
    left: calc(100% - 15px);
  }

.hidden {
    display: none !important;
}

webview {
    background-color: #ffffff;
    scroll-behavior: smooth;
}