body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    object-fit: contain;
    overflow: hidden;
    background-color: #E5E7EB;
    min-width: 100%;
    min-height: 100vh;
}

* {
    border: none;
}

#tab-bar-wrapper {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    background-color: #ffffff;
    align-items: center;
}

#tab-bar {
    display: flex;
    overflow: auto;
    margin-left: 0.25rem;
    flex: 1 1 0%;
    align-items: center;
}

.tab {
    display: flex;
    overflow: hidden;
    padding: 0.25rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    color: #4B5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    flex: 1 1 0%;
    align-items: center;
    max-width: 28rem;
    width: 28rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    cursor: pointer;

}

.active-tab {
    display: flex;
    overflow: hidden;
    padding: 0.25rem;
    background-color: #F3F4F6;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    color: #4B5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    flex: 1 1 0%;
    align-items: center;
    max-width: 28rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    cursor: default;
}

.tab-star {
    margin-left: auto;
}

.btn {
    padding: 0.375rem;
    margin-left: 0.5rem;
    background-color: transparent;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    color: #000000;
    text-align: center;
    border-radius: 0.5rem;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.view {
    min-width: 100vw;
    min-height: 100vh;
}

@keyframes sliding-ttb {
    0% {
        transform: translateY(-100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }

    100% {
        transform: translateY(0%);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    }
}

.sliding-ttb {
    animation-name: sliding-ttb;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.suggestion {
    padding: 0.5rem;
    width: 100vw;
    border-color: #3B82F6;
    border-style: solid;

}

.suggestions-box {
    position: absolute;
    background-color: #FECACA;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-color: #3B82F6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.sliding-rtl {
    animation-name: sliding-rtl;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.sliding-ttb {
    animation-name: sliding-ttb;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.moreMenuItem:hover {
    background-color: #93C5FD;
    color: #000000;
    border-radius: 0.125rem;
}

@keyframes sliding-ttb {
    0% {
        transform: translateY(-100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }

    100% {
        transform: translateY(0%);
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
    }
}

.bookmark {
    display: flex;
    overflow: hidden;
    padding: 1.5rem;
    margin: 0;
    background-color: #E5E7EB;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    color: #4B5563;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    white-space: nowrap;
    flex: 1 1 0%;
    align-items: center;
    max-width: 24rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.bookmark img {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #E5E7EB;
    border-radius: 0.5rem;

}

@keyframes sliding-rtl {
    0% {
        transform: translateX(100%);
        clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
    }
}

webview {
    background-color: #ffffff;
}

#more-menu {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    padding: 0.375rem;
    background-color: #ffffff;
    color: #111827;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#preferences-box {
    display: none;
    position: fixed;
    right: 0;
    padding: 0.375rem;
    background-color: #E5E7EB;
    color: #111827;
    height: 100%;
    height: 100vh;
    max-height: 100vh;
    border-radius: 0.125rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 175px;
}

#welcomepage {
    display: none;
    padding: 0.375rem;
    background-color: #E5E7EB;
    width: 100%;
    border-width: 2px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#bookmarks {
    display: none;
    display: flex;
    display: grid;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: #ffffff;
    height: 100vh;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.hidden {
    display: none;
}

#util-bar {
    display: flex;
    padding-bottom: 0.25rem;
    background-color: #ffffff;
    width: 100%;
}

#searchbar {
    padding: 2pt;
    background-color: #F3F4F6;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 1.5rem;
}