/* Setup Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind classes */
@layer components {
	.tab {
		@apply bg-indigo-100 dark:bg-indigo-700 transition flex text-center items-center flex-1 max-w-md px-2 py-1 overflow-hidden text-sm text-indigo-600 rounded-lg cursor-pointer whitespace-nowrap text-white;
	}
	.active-tab, .tab:hover {
		@apply dark:text-white bg-indigo-200 dark:bg-indigo-800;
	}
  .tab-star {
    @apply ml-auto;
  	}
	button, select {
		@apply dark:text-white hover:bg-indigo-400 text-black rounded-lg dark:hover:bg-indigo-600 text-center p-1 bg-transparent transition
	}
	button img {
		@apply dark:invert;
	}
  	.bg {
		@apply bg-cover bg-no-repeat;
	}
	.view {
		@apply min-w-[100vw] min-h-[100vh];
	}
	@keyframes sliding-ttb {
		0% {
			transform: translateY(-100%);
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		}

		100% {
			transform: translateY(0%);
			clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
		}
	}
	.sliding-ttb {
		animation-name: sliding-ttb;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	.suggestion {
		@apply w-screen border-solid p-2 border-blue-500 dark:text-white;
	}
	.suggestions-box {
		@apply absolute rounded-b-lg bg-red-200 dark:bg-indigo-800 border-blue-500 shadow;
	}
	*:focus {
		@apply outline-emerald-600;
	}
	.sliding-rtl {
		animation-name: sliding-rtl;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	.sliding-ttb {
		animation-name: sliding-ttb;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	.moreMenuItem:hover {
		@apply bg-blue-300 text-black dark:hover:bg-indigo-600 hover:bg-indigo-200 dark:hover:text-white;
	}
	.moreMenuItem {
		@apply p-2 rounded-3xl;
	}
	.moreMenuItem img {
		@apply dark:invert p-1;
	}
	.ttb-fade {
		animation-name: fadeIn;
		animation-duration: 100ms;
		animation-fill-mode: forwards;
	}
	@keyframes sliding-ttb {
		0% {
			transform: translateY(-100%);
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		}

		100% {
			transform: translateY(0%);
			clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translate3d(0, -20%, 0);
		}
		to {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
  .bookmark {
    @apply transition flex items-center flex-1 text-center m-auto max-w-sm p-6 m-0.5 min-w-[95px] h-[95px] overflow-hidden bg-indigo-200 dark:bg-indigo-900 text-2xl dark:hover:bg-indigo-700 hover:bg-indigo-400 rounded cursor-pointer text-indigo-600 dark:text-indigo-100 whitespace-nowrap;
  }
  .bookmark img {
	@apply m-2 rounded-lg dark:bg-indigo-600 bg-indigo-200 p-2 w-[32pt] h-[32pt];
  }
  @keyframes sliding-rtl {
	0% {
		transform: translateX(100%);
		clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
	}
}
.accent-color-blue, button, btn{
	@apply hover:bg-blue-400 dark:bg-blue-600;
}
.accent-color-red, button, btn {
	@apply hover:bg-red-400 dark:bg-red-600;
}
.accent-colors-grid div {
	@apply p-6 w-fit rounded-full;
}
}

/* Custom Styles (they can stay to ensure compatibility with sites as webviews technically use iframes) */
webview {
	background-color: #ffffff;
	scroll-behavior: smooth;
}

html {
	scroll-behavior: smooth;
}

.cet-container {
	overflow: hidden !important;
}

.accent-colors-grid {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(3, 1fr);
}