@font-face {
    font-family: "Simvoni";
    font-weight: normal;
    src: url("../../assets/fonts/simvoni/Simvoni.ttf") format("ttf");
}

@font-face {
    font-family: "Simvoni";
    font-weight: bold;
    src: url("../../assets/fonts/simvoni/Simvoni-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Simvoni";
    font-weight: normal;
    font-style: italic;
    src: url("../../assets/fonts/simvoni/Simvoni-Italic.ttf") format("ttf");
}

@font-face {
    font-family: "Simvoni";
    font-weight: bold;
    font-style: italic;
    src: url("../../assets/fonts/simvoni/Simvoni-BoldItalic.ttf") format("ttf");
}